<div style="border-radius: 10px; width: 300px; height:100px ;background-color: #ffc107;">

    <div style="position: relative;left:30%; top:10px;font-weight: bolder;color: white;">{{todoingTaskName}}</div>
    
<hr>

<button class="btn btn-success" style="position:relative ;left: 30px;background-color: rgb(91, 91, 153)" (click)="MoveToDoFromDoing()">Move to Do</button>
<button class="btn btn-success " style="position:relative ;left: 40px;"(click)="MoveToDoneFromDoing()">Move to Done</button>


</div>
